* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    /*Product */
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    /* Base*/
    --bg-color: #0F172A;
    --stroke-color:#1E293B;
    /*Text*/
    --text-color-primary: #f1f5ff;
    --text-color-secondary: #CBD5E1;
    /*Fonts*/
    --font-family: "Archivo", Sans-serif;
    --h1: 800 24px/135% var(--font-family);
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --span: 600 14px/145%  var(--font-family);
    --paragraph: 400 16px/140% var(--font-family);
    --paragraph-sm: 400 14px/160% var(--font-family);

}
body {
    color: var(--text-color-primary);
    background-color: var(--bg-color);
    font: var(--paragraph);
}

a {
     text-decoration: none;
     color: inherit;
}
a:hover {
    color: var(--brand-color-light);
    transition: 1s;
}
h1,h2,h3 {
    font:inherit;
}
.grid {
    display: grid;
}
.grid-flow-col {
    grid-auto-flow: column;
}
.grid-flow-cols-2 {
    grid-template-columns: 1fr 1fr ;

}
.gap-16 {
    gap: 16px;
}
.container {
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline:auto ;
}

.text-2xl {
    font: var(--h1);
}

.text-xl {
    font: var(--h2);
}
.text-lg {
    font: var(--h3);
}   
.text-sm {
    font: var(--paragraph-sm);
}
.gap-32 {
    gap: 32px;
}